$pc: 1162px;
$tab: 994px;
$sp: 657px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


#sidebar {
  width: 21%;
  padding: 0 1.73%;

  #SearchForm {
    width: 100%;
  }
}
