$pc: 1162px;
$tab: 994px;
$sp: 657px;

$header-height: 60px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}




main {
    
    width: 79%;



    #title {
        padding-left: 30px;
    }


    #new {
        font-size: 20px;
        padding: 30px 0 0 0;
        font-weight: bold;
    }

    #recent {
        font-size: 14px;
        padding: 25px 0 30px 0;
        color: grey;
        border-bottom: 6px solid grey;
        width: 1063px;
    }

    #navy {
        height: 6px;
        width: 310px;
        background-color:  navy;
        display: block;
        position: relative;
        top: -6px;
    }


    
    // ミドルのコーディング




    #midle-wrapper {
        display: flex;
        padding: 30px ; 


        #midle {
            width: 532px;
            height: 333px;
            background-color: grey;
            display: block;
            padding-top: 10px;
        }


        #text1 {
            height: 333px;
            width: 100px;

            #date {
                font-size: 12px;
                padding: 10px 0 20px 0;
                color: grey;
            }

            h2 {
                font-size: 16px;
                font-weight: bold;
                white-space: nowrap;
            }

            #contents {
                width: 506px;
                height: 198px;
                font-size: 17px;
                // line-height: 70px; 
                padding-top: 30px;
            }

            #student{

                width: 119px;
                height: 27px;
                text-align: center;
                background-color: orange;


                #voice {
                    font-size: 12px;
                    position: relative;
                    top: 8px;
                    color: white;
                }
            }



        }

    }








    
}

