$pc: 1162px;
$tab: 994px;
$sp: 657px;


@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin pc-min {
    @media (min-width: ($pc)) {
      @content;
    }
  }
@mixin tab-min {
    @media (min-width: ($tab)) {
        @content;
    }
}
@mixin sp-min {
    @media (min-width: ($sp)) {
      @content;
    }
  }


@mixin new {
    font-size: 20px;
    padding: 30px 0 0 0;
    font-weight: bold;
}

@mixin recent {
    font-size: 14px;
    padding: 25px 0 30px 0;
    color: grey;
    border-bottom: 6px solid grey;
    width: 1110px;
}

@mixin navy {
    height: 6px;
    width: 310px;
    background-color:  navy;
    display: block;
    position: relative;
    top: -6px;
}


// 


main {
    
    width: 79%;

    @include tab {
      width: 100vw;
    }


   



    #title {
        padding-left: 30px;
    }


    .new {
        @include new;
    }

    .recent {
        @include recent;
    }

    .navy {
        @include navy;
    }


    
    // ミドルのコーディング

@mixin span {
    background-color: grey;
    display: block;
}
@mixin hover {
    cursor: pointer;
    opacity: 0.8;
}


    #midle-wrapper {
        
        display: flex;
        padding: 30px; 

        
       

        #midle {
            width: 532px;
            height: 333px;
            @include span;
            padding-top: 10px;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }


        #text1 {
            height: 333px;
            width: 100px;
            padding-left: 20px;


            #date {
                font-size: 12px;
                padding: 10px 0 20px 0;
                color: grey;
            }

            #real {
                font-size: 16px;
                font-weight: bold;
                white-space: nowrap;
            }

            #contents {
                width: 506px;
                height: 198px;
                font-size: 17px;
                line-height: 1.2; 
                padding-top: 30px;
                // text-align: center;
            }

            #student {

                width: 119px;
                height: 27px;
                text-align: center;
                background-color: orange;
                position: relative;
                top: 30px;


                #voice {
                    font-size: 12px;
                    position: relative;
                    top: 8px;
                    color: white;
                }
            }

            #more {
               color: grey;
               font-size: 12px;
               position: relative;
               top: 25px;
               left: 466px;
            }

        }


        
    }




    @mixin contents-span {
        width: 300px;
        height: 200px;
        &:hover {
            @include hover;
        }
    }

    @mixin date {
        font-size: 12px;
        padding: 10px 0 10px 0;
    }
    
    @mixin real {
        padding: 5px 0 10px 0;
        font-size: 16px;
        font-weight: bold;
    }

    @mixin contents {
        font-size: 14px;
        height: 128px;
        width: 300px;
        line-height: 1.1;
    } 

    @mixin fact {
        width: 119px;
        height: 27px;
        margin-top: 30px;
        background-color: orange;
    }

    @mixin life($left: 23px) {
        font-size: 12px;
        position: relative;
        top: 8px;
        left: $left;
        color: white;
    }

    @mixin more {
        color: grey;
        font-size: 12px;
        position: relative;
        top: -28px;
        left: 260px;
    }
    
    
    
    #three-contents {
      display: flex;
      justify-content: space-between;
      padding-left: 30px;
      @include tab {
        display: none;
      }
      width: 1063;
    
       

      #first-contents {

          .three-contents {
    
    
              .contents-span {
                  @include span;
                  @include contents-span;
              }
    
          }

          


          .contents-text {
              
            .date {
                @include date;
            }

            .real {
                @include real;
            }

            .contents {
                @include contents;
            }

            .fact {
                @include fact;

                .life {
                    @include life;
                }
            }

            .more {
                @include more;
            }

          }


      }



      #second-contents  {

        padding: 0 90px;

        .three-contents {

            .contents-span {
                @include span;
                @include contents-span;
            }

        }

        .contents-text {

            .date {
                @include date;
            }

            .real {
                @include real;
            }

            .contents {
                @include contents;
            }
            .fact {
                @include fact;

                .life {
                   @include life(31px);
                }
            }

            .more {
                @include more;
            }
        
      }



    }


    #third-contents {

        .three-contents {

            .contents-span {
                @include span;
                @include contents-span;
            }
        }


        .contents-text {

            .date {
                @include date;
            }

            .real {
                @include real;
            } 

            .contents {
                @include contents;
            }

            .fact {
                @include fact;

                .life {
                    @include life(31px);
                }
            }
            .more {
                @include more;
            }
        }
    }
}



// ミドル2のコーディング


#title2 {
    padding-left: 30px;

    @include sp {
    //   padding-top: ;
    }
}

// 上段3つのコーディング


#onetothree-contents {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;

 #one {
//    padding-left: 30px;

   .three-contents-one {


       .contents-span-one {
         @include span;
         @include contents-span;


       }
   }

   .contents-text-one {

    .date-one {
        @include date;
    }

    .real-one {
        @include real;
    }

    .contents-one {
        @include contents;
    }

    .fact-one {
        @include fact;

        .life-one {
            @include life(35px);
        }
    }

    .more-one {
        @include more;
    }
   }



 }

 #two {
     padding: 0 90px;
   
    .three-contents-two {
        .contents-span-two {
            @include span;
            @include contents-span;
        }
    }

    .contents-text-two {

        .date-two {
            @include date;
        }

        .real-two {
            @include real;
        }

        .contents-two {
            @include contents;
        }

        .fact-two {
            @include fact;

            .life-two {
              @include life(35px);
            }
        }

        .more-two {
           @include more;
        }
    }
 }







 #three {
     .three-contents-three {
         .contents-span-three {
             @include span;
             @include contents-span;
         }
     }

     .contents-text-three {

         .date-three {
             @include date;
         }

         .real-three {
             @include real;
         }

         .contents-three {
             @include contents;
         }

         .fact-three {
             @include fact;

             .life-three {
                @include life(35px);
             }
         }

         .more-three {
             @include more;
         }
     }
 }

}

// 下段3つのコーディング

#fourtosix {
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    @include tab {
       display: none;
    }
    

 #four {

  .three-contents-four {
      .contents-span-four {
          @include span;
          @include contents-span;
      }
  }

  .contents-text-four {

      .date-four {
          @include date;
      }

      .real-four {
          @include real;
      }

      .contents-four {
          @include contents;
      }

      .fact-four {
          @include fact;

          .life-four {
              @include life(25px);
          }
      }

      .more-four {
          @include more;
      }
  }


 }


#five {

    padding: 0 90px;

    .three-contents-five {
        .contents-span-five {
            @include span;
            @include contents-span;
        }
    }

    .contents-text-five {

        .date-five {
            @include date;
        }

        .real-five {
            @include real;
        }

        .contents-five {
            @include contents;
        }

        .fact-five {
            @include fact;

            .life-five {
                @include life(35px);
            }
        }

        .more-five {
            @include more;
        }
    }
}


#six {

    .three-contents-six {
        .contents-span-six {
            @include span;
            @include contents-span;
        }
    }

    .contents-text-six {

        .date-six {
            @include date;
        }

        .real-six {
            @include real;
        }

        .contents-six {
            @include contents;
        }

        .fact-six {
            @include fact;

            .life-six {
                @include life(35px);
            }
        }

        .more-six {
            @include more;
        }
        }
    }
}


#more-see {
    height: 58px;
    width: 256px;
    position: relative;
    top: 40px;
    left: 455px;
    background-color: navy;
    margin-bottom: 100px;

    p {
        position: relative;
        top: 23px;
        left: 85px;
        color: white;
    }
}


// メソッド部分のコーディング

#title3 {
padding-left: 30px;
}

@mixin self {
    width: 519px;
    height: 219px;
    display: block;
    background-color: grey;
}

@mixin methood {
    padding: 30px 0;
    font-weight: bold;
}

@mixin self-text {
    font-size: 14px;
    width: 519px;
    height: 128px;
    line-height: 1.3;
}

@mixin self-more {
    height: 0px;
    width: 0;
    position: relative;
    top: -35px;
    left: 470px;
}

@mixin p {
    font-size: 12px;
    color: grey;
}






#selfstudy1 { 
    padding-top: 40px;
    display: flex;

    .self-study {
        padding-left: 30px;

        .study {

            .self {
               @include self;
            }
        }

        .school {

            .methood {
                @include methood;
            }

            .self-text {
                @include self-text;
            }

            .self-more {
                @include self-more;

                 p {
                     @include p;
                 }
            }

        }
    }
}

#selfstudy2 { 
    padding-top: 40px;
    display: flex;

    @include tab {
        display: none;
    }

    .self-study {
        padding-left: 30px;

        .study {

            .self {
               @include self;
            }
        }

        .school {

            .methood {
                @include methood;
            }

            .self-text {
                @include self-text;
            }

            .self-more {
                @include self-more;

                 p {
                     @include p;
                 }
            }

        }
    }
}


img {
    padding-left: 30px;
    width: 1063px;
    height: 315px;
}










}



